.loading {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    &__feedback {
        margin-left: 2.5rem;
    }

    $primary-color: $color-orange;

    @import "ember-cli-loaders/loaders";
}