.student-details {
    overflow-y: auto;

    section {
        margin: 1.6rem 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__education {
        .item {
            margin-bottom: 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__experiences {
        .item {
            margin-bottom: 1rem;

            &__title {
                display: inline;
            }

            &__achievement {
                list-style: disc inside;
                margin-left: 2rem;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__skills {
        .item {
            margin: 0 0.25rem 0.75rem 0;
            border-radius: 0.75rem;
            padding: 0.33rem 1rem;

            display: inline-block;

            font-size: $font-size-sm;

            &--backend {
                background-color: $color-amber;
            }

            &--frontend {
                background-color: $color-cyan;
            }

            &--miscellaneous {
                background-color: $color-green;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.media-xxs {
    .student-details {
        &__experiences .my-list .item__achievement,
        &__skills .item {
            font-size: $mobile-font-size-sm;
        }
    }
}