<article>
    <header>
        <h1>{{t "layout.index.header.home"}}</h1>
    </header>

    <section>
        <p>
            This demo uses <a href="https://ember-animation.github.io/ember-animated/" target="_blank" rel="noopener noreferrer">Ember Animated</a>, <a href="https://www.ember-cli-mirage.com/" target="_blank" rel="noopener noreferrer">Ember CLI Mirage</a>, <a href="https://embermap.github.io/ember-data-storefront/" target="_blank" rel="noopener noreferrer">Ember Data Storefront</a>, <a href="https://github.com/sukima/ember-oo-modifiers" target="_blank" rel="noopener noreferrer">Ember OO Modifiers</a>, and <a href="https://github.com/Netflix/fast_jsonapi" target="_blank" rel="noopener noreferrer">Fast JSON API</a>. It is certainly ambitious!
        </p>
        <p>
            To learn more what I did, please visit my blog <a href="https://crunchingnumbers.live/2019/04/02/animation-and-predictable-data-loading-in-ember/" target="_blank" rel="noopener noreferrer">crunchingnumbers.live</a> and <a href="https://github.com/ijlee2/ember-animated-tutorial-octane" target="_blank" rel="noopener noreferrer">GitHub repo</a>.
        </p>
    </section>

    <section>
        <h2>{{t "layout.index.header.references"}}</h2>

        <ul class="my-list">
            <li>
                <a href="https://github.com/embermap/emberconf2019-real-world-animations" target="_blank" rel="noopener noreferrer">EmberConf 2019 Real-World Animations</a>, by Sam Selikoff and Ryan Toronto
            </li>
            <li>
                <a href="https://github.com/embermap/emberconf2019-robust-data-fetching" target="_blank" rel="noopener noreferrer">EmberConf 2019 Robust Data Fetching</a>, by Sam Selikoff and Ryan Toronto
            </li>
        </ul>
    </section>
</article>